



.text {
  flex-direction: column;
  justify-content: center;
  color: white;
  margin-bottom: 1%;
}

.unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard */
}


.bottom-toolbar-contain{
  bottom:0;
  position:absolute;
  display:flex;
  flex-direction: column;
  width: 100%;
  transition: all .5s ease;
  transform: translateY(35px);
}

.bottom-toolbar{
  height:45px;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgba(0,0,0,.45);
  width: 100%;

}

.arrow-tab{
  background-color: rgba(0,0,0,.45);
  height:10px;
  width: 60px;
  align-self: center;
  border-radius: 10px 10px 0 0;
  
}

.bottom-toolbar-contain:hover{
  transform: translateY(0);
}

.icon{
  height:25px;
  margin: auto;
  transition-duration: 1s ease;
}

.icon:hover{
cursor: pointer;
}




.button{
  color:black;
}

.button:hover{
  cursor: pointer;
}



.outfit-text {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style:normal;
}

.outfit-title {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style:normal;
}




.space{
margin-bottom: 5%;
}



.space-top{
  margin-top: 5px;
  }



.false{
  color: rgb(195, 0, 0);
}


.true{
  color: rgb(21, 138, 0);
}

.small{
  margin-top: 1%;
  margin-bottom: 1%;
}


