.App {
  background-color: rgb(17, 32, 62);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.text {
  flex-direction: column;
  justify-content: center;
  font-size: calc(20px);
  color: white;
  margin-bottom: 1%;
}

.login-item {
  flex-direction: column;
  justify-content: center;
  color: white;
}


.Header {
  font-size: calc(60px);
  color: white;
  margin-bottom: 5%;
}

.textbox{
  color:black;
  text-align: center;
  margin-bottom: 2.5%;
}

.button{
  color:black;
  font-size: calc(15px);
}

.space{
margin-bottom: 10%;
}



