



.text {
  flex-direction: column;
  justify-content: center;
  color: white;
  margin-bottom: 1%;
}

.unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard */
}







.button{
  color:black;
}

.button:hover{
  cursor: pointer;
}



.outfit-text {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style:normal;
}

.outfit-title {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style:normal;
}




.space{
margin-bottom: 5%;
}



.space-top{
  margin-top: 5px;
  }



.false{
  color: rgb(195, 0, 0);
}


.true{
  color: rgb(21, 138, 0);
}

.small{
  margin-top: 1%;
  margin-bottom: 1%;
}


